<!DOCTYPE html>
<html>
    <head>
        <title>Templates | SmartSync</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        {% include 'darkbluelogoheader.html' %}
    </head>
    <body>
        <div class="latestPresentations">
            <div class="latest" > Choose Templates</div>
            <div class="pastPresentations">
                <a href="{{ url_for('generate.presentation_route') }}"><img src="static/pictures/minimal_blue.png"></a>
                <a href="{{ url_for('generate.presentation_route') }}"><img src="static/pictures/minimal_darkgreen.png"></a>
                <a href="{{ url_for('generate.presentation_route') }}"><img src="static/pictures/dark_modern.png"></a>
                <a href="{{ url_for('generate.presentation_route') }}"><img src="static/pictures/simple.png"></a>
            </div>
        </div>
    </body>
</html>