<!DOCTYPE html>
<html>
    <head>
        <title>Generate Presentation | SmartSync</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        {% include 'darkbluelogoheader.html' %}
        <style>
            .slideshow-container {
                max-width: 1000px;
                position: relative;
                margin: auto;
            }

            .mySlides {
                display: none;
            }

            .img {
                width: 100%;
            }

            .prev, .next {
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }

            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

            .prev:hover, .next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
        </style>
    </head>
    <body>
        <div class="container-inputs" >
            <div class="inputs" id="myDivv" style="display: block">
                <form method="post" autocomplete="off" action="/GeneratePresentation" enctype="multipart/form-data">
                    <input type="hidden" name="action" value="action1">
                    <label for="topic">Presentation Title:
                    <input type="text" id="presentation-title" name="title" placeholder="Enter Title"></label>
                    <label for="topic">Presented by:
                    <input type="text" id="presentor" name="presentation-presentor" placeholder="Enter Presentor"></label>
                    <label>Input presentation contents</label><br>
                    <textarea type="textarea" id="keypoints" name="contents" rows="8" cols="43" placeholder="Input content" autocomplete="off" required></textarea><br>
                    <label>Choose template</label><br>
                    <div class="checkbox-container">
                        <select name="templates" id="template">
                            <option value="minimal_blue">Minimal - Blue</option>
                            <option value="minimal_darkgreen">Minimal - Dark Green</option>
                            <option value="dark_modern">Minimal - Dark Modern</option>
                            <option value="simple">Simple</option>
                        </select>
                    </div>
                    <button value="Generate Presentation" onclick="toggleDiv()">Generate Presentation</button>
                </form>
                <div class="edit" id="myDiv" style="display: none">
                        <form action="/GeneratePresentation" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="action" value="action2">
                            <label>Edit Specific Slide
                            <input type="text" id="slideNum" name="slide_num" placeholder="Enter Slide Number" required></label>
                            <label>Instruction
                                <textarea type="textarea" id="instructions" name="instruction" rows="6" cols="43" placeholder="Enter Instruction" required></textarea></label>
                            <div class="checkbox-container1">
                                <input type="checkbox" id="auto" name="isAuto" value="auto">
                                <label for="auto">Auto Generated</label>
                                <input type="file" id="myFile" name="filename"></div>
                                <div class="button-container">
                                    <button>Revert</button> <button>Done</button>
                                </div>
                        </form>
                    </div>
            </div>
        </div>
        <div class="generate-container-presentation">
            <div class="generated-content">
                <div class="slideshow-container">
                    {% for image_file in image_files %}
                        <div class="mySlides">
                            <img class="img" src="{{ image_file }}" alt="Slide {{ loop.index }}">
                        </div>
                    {% endfor %}

                        <a class="prev" onclick="plusSlides(-1)">&#10094; Previous</a>
                        <a class="next" onclick="plusSlides(1)">Next &#10095;</a>

                        <script>
                            slideIndex = 0;
                            showSlides();

                            function showSlides() {
                                var slides = document.getElementsByClassName("mySlides");
                                for (var i = 0; i < slides.length; i++) {
                                    slides[i].style.display = "none";
                                }
                                slides[slideIndex].style.display = "block";
                            }

                            function plusSlides(n) {
                                slideIndex += n;
                                var slides = document.getElementsByClassName("mySlides");
                                if (slideIndex >= slides.length) {
                                    slideIndex = 0;
                                } else if (slideIndex < 0) {
                                    slideIndex = slides.length - 1;
                                }
                                showSlides();
                            }
                        </script>
                    </div>
            </div>
            <button onclick="downloadPresentation()" >Download Presentation</button>
        </div>

    <script>

        function downloadPresentation() {
            // redirect to the /download route
            window.location.href = '{{ url_for('download_file', filename='generated_presentation.pptx') }}';
        }
        // Inside the generatePresentation function
        function generatePresentation() {
            // Get the form and serialize its data
            var form = document.getElementById('presentationForm');
            var formData = new FormData(form);
            // Make a POST request to the server
            fetch('/GeneratePresentation', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Display the generated presentation content
                if (data.status === 'success') {
                    displaySlideshow(data.imagePaths);  // Use the provided image URLs
                    document.getElementById('presentationContent').innerHTML = `Presentation successfully generated! <br>Path: ${data.path}`;
                } else {
                    document.getElementById('presentationContent').innerHTML = 'Failed to generate presentation';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
    </body>
</html>
