<!DOCTYPE html>
<html>
<head>
    <title>Home | SmartSync</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% include 'darkbluelogoheader.html' %}
</head>
<body>
<div class="latestPresentations">
    <div class="latest">Latest Presentations</div>
    <div class="btnCreate">
<!--        <a href="{{ url_for('choose.choosetemplate_route') }}"><button>Create New Presentation</button></a>-->
    </div>
    <div class="pastPresentations">
        {% if data %}
            {% for document in data %}
                <a href="{{ url_for('presentation.view_presentation_route', folder_path=document['folder_path']) }}" onclick="getSlideTopic('{{ document['topic'] }}')">
                    <img src="{{ document['image_data'] }}" alt="{{ document['topic'] }} Slide {{ document['slide_number'] }}">
                </a>
            {% endfor %}
        {% else %}
        {% endif %}
    </div>
    <script>
            function getSlideTopic(templateName) {
<!--                window.location.href = "{{ url_for('presentation.view_presentation_route') }}?topic=" + encodeURIComponent(topic);-->
                fetch('/select_template', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({
                        'template_name': templateName,
                    }),
                })
                .then(response => response.text())
                .then(data => {
                    console.log(data); // Log the response from the server
                    // You can handle the response as needed
                })
                .catch(error => console.error('Error:', error));
            }
        </script>
</div>
</body>
</html>
