<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up | SmartSync</title>

        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='signstyle.css') }}">
    </head>
    <body>
        <div class="row no-gutters">
            <div class="col-md-6 no-gutters">
                <div class="signleft-side text-right">
                    <img src="static\pictures\white_logo.png" class="signLogo">
                    <div class="line"></div>
                    <h5 class="signleft-side-h5">Intelligent Slide for Effortless Excellence</h5>
                </div>
            </div>
            <div class="col-md-6 no-gutters">
                <div class="signright-side">
                    <form method="post" autocomplete="off" action="{{ url_for('signup') }}">
                        <h3 class="signUPh3">Sign Up</h3>
                        <br>
                        <input class="signinputtxt" type="text" name="username" placeholder="Username">
                        <input class="signinputtxt" type="password" name="password" placeholder="Password">
                        <input class="signinputtxt" type="text" name="first_name" placeholder="First Name">
                        <input class="signinputtxt" type="text" name="last_name" placeholder="Last Name">
                        <input class="signinputtxt" type="text" name="email" placeholder="Email">
                        <input class="signinputtxt" type="text" name="contact_number" placeholder="Contact Number">
                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            <ul class="flashes">
                              {% for message in messages %}
                                <li>{{ message }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                        <br>
                        <button class="signbtn">Sign Up</button>
                    </form>
                    <p style="margin-top: 40px;">Already have an account? <a href="{{ url_for('account.signin_route') }}" style="color: #121830; text-decoration: underline;">Sign In</a></p>
                    <br>
                </div>
            </div>
        </div>
    </body>
</html>